html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing:inherit;
}
.button{
 background-color: rgb(39, 89, 240);
 height: 50px;
 width: 100px;
 border-radius: 10px;
 font-size: 15px;
 border: 1px solid red;
 color: white;
 font-weight: bold;
 padding:10px;
 
}
