

.flex{
   
    display:flex;
    @include debug;
    flex-wrap:wrap;
    
}

 .flex--rows{
    @include debug;
     flex-direction:row;
     align-self:left;
 }

 .flex--columns{
    @include debug;
     flex-direction: column;
     align-self:left;
 }



