.flecha-roja--descubra{

    color:red;
    font-size:30px;
    padding-right: 5px;

}
.flecha-roja--hover:hover{

    color:red;
    

}

.flecha-roja--texto {
    font-size:20px;
    padding-right: 5px;
    

}