.footer__section--blanco{
    background:white;
    color:black;
    height: 500px;
    width:1570px;
    display:inline-flex;
    padding:40px;
    margin:30px;
}
.footer__section--negro{
    background:black;
    color:white;
    height: 500px;
    width:1570px;

}
.titulo-footer__section--color-texto{
    color:white;

    
    padding: 100px;
}