.panel-coche--display{

    display: inline-flex;
    padding-left: 5.14286%;
    padding-right: 5.14286%;
    padding-top: 30px;
    padding-bottom: 40px;
    
}
.panel-coches__body{

    
}
.panel-coche__body-imagen--tamanyo{
 
    width: 310.297px;
    height: 349.078px;
    
}
.panel-configure--display{

    display: inline-flex;
    padding-left: 5.14286%;
    padding-right: 5.14286%;
    padding-top: 30px;
    padding-bottom: 40px;
   
    
}
.panel-configure__body{

    
}
.panel-configure__body-imagen--tamanyo{
 
    width: 311px;
    height: 214.906px;
    
}
.panel-asistente--display{

    display: inline-flex;
    padding-left: 5.14286%;
    padding-right: 5.14286%;
    padding-top: 30px;
    padding-bottom: 40px;
   
    
}
.panel-asistente__body{

    
}
.panel-asistente__body-imagen--tamanyo{
 
    width: 310.297px;
    height: 349.078px;
}
.panel-asistente__body-imagen--tamanyo-grande{
 
    width:620.594px;
    height: 349.078px;
}
.panel-descubre--display{

    display: inline-flex;
    padding-left: 5.14286%;
    padding-right: 5.14286%;
    padding-top: 30px;
    padding-bottom: 40px;
   
    
}
.panel-descubre__body{

    
}
.panel-descubre__body-imagen--tamanyo{
 
    width: 310.297px;
    height: 267.250px;
}
.panel__header{
    padding-left:80px;
}

.panel-menu{

}

.panel-menu__lista{
    display: inline-block;
    margin:10px;
    margin-left:60px;
}

.panel-menu__elemento-lista{
    
    margin: 5px;
    padding: 5px;

}
.panel-menu__elemento-lista--hover:hover{

    color:red;
}


.panel-select{
    margin-left: 300px;
    display: inline-block;


}
.panel-select__parrafo{
    
    margin-left:350px;
    margin-bottom: 50px;
    font-size: 25px;
}
.panel-select__select{
    background: black;
    color:white;
    padding:17px;
}
.panel-select__option{
    color:white;

}