.panel-coche--display{

    display: inline-flex;
    padding-left: 5.14286%;
    padding-right: 5.14286%;
    padding-top: 30px;
    padding-bottom: 40px;
    
}
.panel-coches__body{

    
}
.panel-coche__body-imagen--tamanyo{
 
    width: 310.297px;
    height: 349.078px;
    
}
.panel-configure--display{

    display: inline-flex;
    padding-left: 5.14286%;
    padding-right: 5.14286%;
    padding-top: 30px;
    padding-bottom: 40px;
   
    
}
.panel-configure__body{

    
}
.panel-configure__body-imagen--tamanyo{
 
    width: 311px;
    height: 214.906px;
    
}
.panel-asistente--display{

    display: inline-flex;
    padding-left: 5.14286%;
    padding-right: 5.14286%;
    padding-top: 30px;
    padding-bottom: 40px;
   
    
}
.panel-asistente__body{

    
}
.panel-asistente__body-imagen--tamanyo{
 
    width: 310.297px;
    height: 349.078px;
}
.panel-asistente__body-imagen--tamanyo-grande{
 
    width:620.594px;
    height: 349.078px;
}
.panel-descubre--display{

    display: inline-flex;
    padding-left: 5.14286%;
    padding-right: 5.14286%;
    padding-top: 30px;
    padding-bottom: 40px;
   
    
}
.panel-descubre__body{

    
}
.panel-descubre__body-imagen--tamanyo{
 
    width: 310.297px;
    height: 267.250px;
}
.panel__header{
    padding-left:80px;
}