$color-primary:royalblue;
$color-letra-head: white;
$color-letra-body:black;
$border-radius: 12px;
$colors:(primary,royalblue),(warning,orange),(info,aqua),(danger,red),(succes,greenyellow);
$tamanyo:(extra-small,10px),(small,15px),(default,20px),(large,30px);
$debug:1;

